---
layout: default
---
<section class="intro">
  <h1>Ori Marash</h1>
</section>

<ul class="post-list">
  {% for post in site.posts %}
    <li class="post-list-item">
      <a class="post-list-link" href="{{ post.url | relative_url }}">
        <span class="post-list-title">{{ post.title }}</span>
        <time class="post-list-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      </a>
      {% if post.description %}<p class="post-list-desc">{{ post.description }}</p>{% endif %}
    </li>
  {% endfor %}
</ul>
