<ul class="inline-flex">
  <li>
    <a
      class="p-1 px-3 mr-3 border border-gray-500 rounded-full hover:bg-gray-200 transition duration-300"
      href="/assets/cv.pdf"
      >CV</a
    >
  </li>
  <li>
    <a
      class="p-1 mr-2 px-3 border border-gray-500 rounded-full hover:bg-gray-200 transition duration-300"
      href="https://github.com/penguoir"
      >Github</a
    >
  </li>
  <li>
    <a
      class="p-1 px-3 mr-2 border border-gray-500 rounded-full hover:bg-gray-200 transition duration-300"
      href="https://www.linkedin.com/in/ori-marash/"
      >LinkedIn</a
    >
  </li>
  <li>
    <a
      class="p-1 px-3 border border-gray-500 rounded-full hover:bg-gray-200 transition duration-300"
      href="mailto:ori@marash.net"
      >Email</a
    >
  </li>
</ul>
